.card {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  /* width: 100%; */
}

.loader {
  height: 80px;
  width: 80px;
  border: 5px solid #e0e0e0;
  border-radius: 50%;
  border-top-color: #c4c4c490;
  animation: loader-anim 1s linear infinite;
}

table {
  border: 1px solid #fef0f0;
}

@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
